body.monospace-font,
body.monospace-font *,
body.monospace-font input,
body.monospace-font button {
	font-family: monospace !important;
}

body.zen-mode main {
	padding: 0;
}

body.zen-mode section {
	padding: 0;
	border-radius: 0;
}

body.hide-footer footer {
	display: none !important;
}

body.hide-footer .section-header {
	display: none;
}
